*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
background:#111;
color:white;
}

nav{
background:black;
display:flex;
justify-content:space-between;
padding:20px 8%;
position:fixed;
width:100%;
z-index:1000;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:30px;
}

nav ul li a{
color:white;
text-decoration:none;
transition:.4s;
}

nav ul li a:hover{
color:red;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(rgba(0,0,0,.7),
rgba(0,0,0,.7)),
url(images/banner.jpg);
background-size:cover;
}

.hero h1{
font-size:80px;
color:red;
}

.hero h2{
font-size:40px;
}

.hero p{
margin:20px;
font-size:20px;
}

.btn{
background:red;
padding:15px 40px;
text-decoration:none;
color:white;
border-radius:30px;
}

section{
padding:100px 10%;
}

h2{
text-align:center;
margin-bottom:50px;
color:red;
}

.container{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.card{
background:#222;
padding:30px;
flex:1;
border-radius:20px;
text-align:center;
transition:.5s;
}

.card:hover{
transform:translateY(-10px);
}

.card i{
font-size:50px;
color:red;
margin-bottom:20px;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.gallery img{
width:100%;
height:300px;
object-fit:cover;
border-radius:20px;
transition:.5s;
}

.gallery img:hover{
transform:scale(1.05);
}

table{
width:100%;
background:#222;
border-collapse:collapse;
}

th{
background:red;
}

th,td{
padding:20px;
border:1px solid #444;
}

#contact p{
margin:20px;
font-size:20px;
}

footer{
background:black;
padding:30px;
text-align:center;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.gallery img{
    width:100%;
    height:300px;
    object-fit:cover;
    border-radius:15px;
    box-shadow:0 0 15px rgba(255,0,0,0.4);
    transition:0.5s;
}

.gallery img:hover{
    transform:scale(1.05);
    box-shadow:0 0 25px red;
}

#contact a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

#contact a:hover{
    color:red;
}